
$palette-1: #4C6983;
$palette-2: #38556A;
$palette-3: #273952;

.title-bar {
    background: $palette-1;

}

html {
    background: $palette-3;
}

.view {
    display: flex;
    justify-content: center;
}

header {
    z-index: 10;
}

main {
    margin-top: 40px;
    padding: 12px;
}

.status-indicator {
    max-width: 240px;
}

.card-collection {

    .card {
        margin-top: 16px;
        margin-bottom: 16px;

        display: flex;
        flex-direction: column;
        margin-top: 0.5rem;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        background-color: #f3f4f6;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        margin-left: auto;
        margin-right: auto;
    }
}